body{
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
/*----------------------------------------Header-----------------------*/
.custom-main-menu .navbar, .custom-main-menu .navbar-nav{
  height: 79px;
  padding-top: .5px!important;
}
.custom-main-menu .navbar-brand img {
  margin-bottom: 1px;
}
.custom-main-menu .nav-item .nav-link{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar{
	padding: 0;
}
.nav-link{
	color: #e9e9e9;
	font-size: 14px;
  padding: 25px 12px!important;
  transition: .2s ease-in-out;
  border-bottom: solid 2px transparent;
  text-transform: uppercase;
}
.nav-link:hover{
	color: #fff;
}
.nav-link:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: static;
}
.custom-main-menu .nav-link:after{
  margin-top: 30px; 
}
.nav-link:hover:after{
  width: 100%;
}
/*.nav-link.active:after{
  width: 100%;
}*/
.navbar-brand img{
	margin-bottom: 29px;
  max-width: 170px;
}
.nav-item{
	padding: 0 4px;
}
@media only screen and (max-width: 1199px){
  .nav-link{
    font-size: 13px;
    padding: 25px 8px!important;
  }
}
/*--------------------------------------------Footer--------------------*/
footer{
	background-color: #23345c;
	padding: 10px;
	color: #fff;
	text-align: center;
}
.all-rights{
	font-size: 14px;
	margin: 0;
}
/*-----------------------------Top wins Slider----------------------*/
.main-slider2 .slide span{
	font-size: 12px;
	color: #000;
	font-weight: 600;
}
.main-slider2{
  background-color: #f1f1f1;
}
.main-slider2 .slide h4{
	font-size: 17px;
	color: red;
	font-weight: 900;
	margin-bottom: 0;
  background: rgba(250,68,68,1);
  background: -moz-linear-gradient(top, rgba(250,68,68,1) 0%, rgba(250,50,50,1) 31%, rgba(184,6,6,1) 72%, rgba(184,6,6,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,68,68,1)), color-stop(31%, rgba(250,50,50,1)), color-stop(72%, rgba(184,6,6,1)), color-stop(100%, rgba(184,6,6,1)));
  background: -webkit-linear-gradient(top, rgba(250,68,68,1) 0%, rgba(250,50,50,1) 31%, rgba(184,6,6,1) 72%, rgba(184,6,6,1) 100%);
  background: -o-linear-gradient(top, rgba(250,68,68,1) 0%, rgba(250,50,50,1) 31%, rgba(184,6,6,1) 72%, rgba(184,6,6,1) 100%);
  background: -ms-linear-gradient(top, rgba(250,68,68,1) 0%, rgba(250,50,50,1) 31%, rgba(184,6,6,1) 72%, rgba(184,6,6,1) 100%);
  background: linear-gradient(to bottom, rgba(250,68,68,1) 0%, rgba(250,50,50,1) 31%, rgba(184,6,6,1) 72%, rgba(184,6,6,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4444', endColorstr='#b80606', GradientType=0 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-slider2 .slide p{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 0;
}
.main-slider2 .slide{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: solid 1px;
	padding: 0 25px;
	text-align: center;
	margin: 15px 0;
  -webkit-border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 1)) 1 100%;
  -moz-border-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 1)) 1 100%;
  -o-border-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 1)) 1 100%;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000, rgba(0, 0, 0, 1)) 1 100%;
}
.red-box{
	position: absolute;
	left: 0;
	top: -1px;
	background-color: #ce0000;
	color: #f1f1f1;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	-webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
	height: 104%;
	z-index: 99999;
	width: 300px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.win-slider{
	position: relative;
  border-bottom: solid 2px #ce0000;
  overflow: hidden;
}
.red-box p{
	margin-left: 35px;
	line-height: 1.2;
	margin-bottom: 0;
}
.main-slider2 .slick-slider{
	margin-left: 230px;
}
@keyframes pulse {
  0%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%{
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
  }
  20%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  0%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%{
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
  }
  20%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.promo{
	-webkit-animation: pulse 2.5s ease-in-out infinite both;
  animation: pulse 2.5s ease-in-out infinite both;
}
@media only screen and (max-width: 1500px){
  .red-box {
    font-size: 18px;
    width: 250px;
  }
  .main-slider2 .slick-slider {
    margin-left: 120px;
  }
  .main-slider2 .slide{
    margin: 12px 0;
  }
}
@media only screen and (max-width: 1250px){
  .red-box {
    font-size: 16px;
    width: 210px;
  }
  .main-slider2 .slick-slider {
    margin-left: 100px;
  }
  .main-slider2 .slide{
    margin: 6px 0;
  }
  .main-slider2 .slide h4{
    font-size: 16px;
  }
}
/*-------------------------------Main Slider---------------------------------*/
.custom-home-menu nav{
  background: transparent!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border: none!important;
}
.overlay-content{
  margin-bottom: 150px;
}
.slider-border{
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  top: 78px;
  z-index: 100;
}
.wait-page{
  min-height: 90vh;
}
.slide img{
  width: 100%;
}
.slider-front-img{
  max-width: 600px;
}
.main-slider .slick-slide{
  visibility: hidden!important;
}
.main-slider .slick-slide.slick-active.slick-current{
  visibility: visible!important;
}
.main-slider .title-white-line{
  margin-left: 0;
  margin-bottom: 4vh;
}
.slider-overlay h2{
  font-size: 40px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  max-width: 500px;
  font-weight: 900;
  margin: 0 0 2vh;
}
.slider-overlay p{
  max-width: 450px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.43;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 4vh;
}
.main-slider{
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  background: #000;
}
.main-slider .slide > img{
  display: inline-block!important;
}
.slider-overlay{
  position: absolute;
  width: auto;
  height: 100%;
  top: 0px;
  left: 12vw;
  color: #fff;
  display: flex;
  align-items: center;
}
.slider-register{
  display: inline-block;
  padding: 12px 28px;
  border: solid 2px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
  margin-right: 8px;
  cursor: pointer;
  min-width: 174px;
  text-align: center;
  transition: ease .2s;
}
.slider-log-in{
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  border: solid 2px;
  font-size: 17px;
  min-width: 174px;
  text-align: center;
  cursor: pointer;
  transition: ease .2s;
}
.slider-log-in:hover, .slider-register:hover{
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.main-slider .slider-log-in:hover{
  background-color: #fff;
  color: rgba(49, 49, 49, 1);
}
.main-slider .slider-register:hover{
  background-color: #940f14;
  color: #fff;
  border: solid 2px #940f14;
}
.main-slider .slick-slider{
  position: static;
}
.main-slider .slick-dots{
  bottom: 30px;
}
.main-slider .slick-dots li button:before{
  color: #fff;
  font-size: 16px;
}
.slick-dots li.slick-active button:before{
  color: #fff!important;
}
.main-slider .slick-dots li{
  margin: 0;
}
.slider-jackpot-box{
  position: absolute;
  top: 78px;
  right: 12vw;
  height: 100vh;
  width: 440px;
}
.emty-slider-front-img{
  display: none!important;
}
@media only screen and (min-width: 1800px){
  .slider-jackpot-box{
    right: 17vw;
  }
  .slider-overlay{
    left: 17vw;
  }
  .overlay-content{
    margin-bottom: 220px;
  }
}
@media only screen and (min-width: 2100px){
  .slider-jackpot-box{
    right: 21vw;
  }
  .slider-overlay{
    left: 21vw;
  }
  .overlay-content{
    margin-bottom: 220px;
  }
}
@media only screen and (max-width: 1550px){
  .slider-overlay h2{
    font-size: 30px;
    max-width: 360px;
    margin: 0 0 2vh;
  }
  .slider-overlay p {
    max-width: 390px;
    font-size: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 15px;
    padding: 10px 25px;
  }
  .slider-front-img {
    max-width: 500px;
  }
  .overlay-content{
    margin-bottom: 110px;
  }
}
@media only screen and (max-width: 1400px){
  .overlay-content{
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 1300px){
  .slider-jackpot-box{
    right: 11vw;
  }
  .slider-overlay{
    left: 11vw;
  }
  .overlay-content{
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1250px){
  .slider-front-img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1100px){
  .slider-overlay img{
    width: 400px;
    margin: 5vh 0 2vh -4px;
  }
  .slider-overlay h2{
    font-size: 26px;
    max-width: 280px;
    margin: 0 0 2vh;
  }
  .slider-overlay p {
    max-width: 330px;
    font-size: 14px;
    margin-bottom: 3vh;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 14px;
    padding: 10px 25px;
  }
  .slider-jackpot-box{
    right: 9vw;
  }
  .slider-overlay{
    left: 9vw;
  }
  .main-slider .slick-dots li button:before{
    font-size: 14px;
  }
  .main-slider .slick-dots li, .main-slider .slick-dots li button, .main-slider .slick-dots li button:before{
    width: 17px;
    height: 17px;
    padding: 0;
  }
}
@media only screen and (max-width: 900px){
  .slider-overlay img{
    width: 100px;
    margin: 21px 0 10px -3px;
  }
  .slider-overlay h2{
    font-size: 17px;
    max-width: 200px;
    margin: 0 0 10px;
  }
  .slider-overlay p {
    max-width: 275px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 120px;
    font-size: 13px;
    padding: 8px 17px;
  }
  .main-slider .title-white-line{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px){
  .slider-overlay img{
    margin: 10vh 0 15px -2px;
  }
  .slider-overlay p {
    display: none;
  }
  .slider-overlay h2 {
    margin-bottom: 30px;
  }
  .main-slider .title-white-line{
    display: none;
  }
}
@media only screen and (max-width: 550px){
  .main-slider .slick-dots{
    bottom: 15px;
  }
}
@media only screen and (max-width: 500px){
  .slider-overlay img{
    margin: 7vh 0 10px -2px;
    width: 80px;
  }
  .slider-overlay h2 {
    font-size: 14px;
    max-width: 145px;
  }
  .slider-register, .slider-log-in{
    display: none;
  }
}
/*------------------------------------------JackpotBox------------------------------------------*/
.main-mystery-box-img-title{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-mystery-box, .main-jackpotCards-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  flex-direction: column;
}
.main-mystery-box-mega .main-mystery-box-img{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-mystery-box-super .main-mystery-box-img{
  max-width: 300px!important;
  margin: 0 auto;
  width: 100%;
}
.custom-count-mega, .custom-count-super, .custom-count-online, .custom-count-ra, .custom-count-versai, .custom-count-burning{
  color: #e6e6e6;
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  top: 10px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.main-mystery-box-mega, .main-mystery-box-super{
  position: relative;
  width: 330px;
}
.main-jackpotCards-box-splash, .main-jackpotCards-box-heart, .main-jackpotCards-box-diamond, .main-jackpotCards-box-spade{
  position: relative;
  margin-bottom: 5px;
  width: 330px;
}
.main-jackpotCards-box-splash .main-jackpotCards-box-img{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-heart .main-jackpotCards-box-img{
  max-width: 310px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-diamond .main-jackpotCards-box-img{
  max-width: 290px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-spade .main-jackpotCards-box-img{
  max-width: 270px!important;
  margin: 0 auto;
  width: 100%;
}
.custom-count-splash, .custom-count-heart, .custom-count-diamond, .custom-count-spade{
  color: #e6e6e6;
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-count-splash{
  top: 23px;
}
.custom-count-heart{
  top: 7px;
}
.custom-count-diamond{
  top: 7px;
}
.custom-count-spade{
  top: 7px;
}
.main-mystery-box-currency{
  width: 11px!important;
  display: inline-block!important;
  margin-left: 12px;
  opacity: .6;
}
@media only screen and (max-width: 1550px){
  .slider-jackpot-box{
    width: 400px;
  }
  .main-jackpotCards-box-splash .main-jackpotCards-box-img, .main-mystery-box-mega .main-mystery-box-img{
    max-width: 290px!important;
  }
  .main-jackpotCards-box-heart .main-jackpotCards-box-img, .main-mystery-box-super .main-mystery-box-img{
    max-width: 270px!important;
  }
  .main-jackpotCards-box-diamond .main-jackpotCards-box-img{
    max-width: 250px!important;
  }
  .main-jackpotCards-box-spade .main-jackpotCards-box-img{
    max-width: 230px!important;
  }
  .main-mystery-box-mega .main-mystery-box-img{
    max-width: 290px!important;
  }
  .custom-count-splash, .custom-count-heart, .custom-count-diamond, .custom-count-spade, .custom-count-mega, .custom-count-super{
    font-size: 28px;
  }
  .main-mystery-box-currency {
    width: 10px!important;
    margin-left: 10px;
  }
  .main-mystery-box, .main-jackpotCards-box{
    height: 37vh;
  }
}
@media only screen and (max-width: 1250px){
  .slider-jackpot-box{
    width: 350px;
  }
  .main-jackpotCards-box-splash .main-jackpotCards-box-img, .main-mystery-box-mega .main-mystery-box-img{
    max-width: 260px!important;
  }
  .main-jackpotCards-box-heart .main-jackpotCards-box-img, .main-mystery-box-super .main-mystery-box-img{
    max-width: 240px!important;
  }
  .main-jackpotCards-box-diamond .main-jackpotCards-box-img{
    max-width: 230px!important;
  }
  .main-jackpotCards-box-spade .main-jackpotCards-box-img{
    max-width: 210px!important;
  }
  .main-mystery-box-mega .main-mystery-box-img{
    max-width: 260px!important;
  }
  .custom-count-splash, .custom-count-heart, .custom-count-diamond, .custom-count-spade, .custom-count-mega, .custom-count-super{
    font-size: 24px;
  }
  .main-mystery-box-currency {
    width: 8px!important;
    margin-left: 7px;
  }
  .main-mystery-box, .main-jackpotCards-box{
    height: 37vh;
  }
  .main-mystery-box-img-title{
    max-width: 300px!important;
  }
}
/*-------------------------------Sub Mega and Jackpotcards--------------------------*/
.sub-mystery-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 10px;
}
.sub-jackpotCards-slider .main-jackpotCards-box{
  height: auto;
  border-bottom: none;
  margin-top: 30px;
}
.sub-online-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 15px;
}
.sub-progressive-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sub-jackpotCards-slider .main-jackpotCards-box-splash .main-jackpotCards-box-img, .sub-mystery-slider .main-mystery-box-mega .main-mystery-box-img, .sub-online-slider .main-mystery-box-mega .main-mystery-box-img, .sub-progressive-slider .main-mystery-box-mega .main-mystery-box-img{
  max-width: 300px!important;
}
.sub-mystery-slider .custom-count-mega, .sub-jackpotCards-slider .custom-count-splash, .sub-online-slider .custom-count-online, .sub-progressive-slider .custom-count-ra, .sub-progressive-slider .custom-count-versai, .sub-progressive-slider .custom-count-burning{
  font-size: 28px;
  right: 55px;
}
.sub-jackpotCards-slider .custom-count-splash{
  top: 23px;
}
.sub-mystery-slider .custom-count-mega{
  top: 60px;
}
.sub-online-slider .custom-count-online{
  top: 29px;
}
.sub-progressive-slider .custom-count-ra{
  top: 33px;
}
.sub-progressive-slider .custom-count-versai{
  top: 26px;
}
.sub-progressive-slider .custom-count-burning{
  top: 42px;
}
.sub-mystery-slider .main-mystery-box-currency, .sub-jackpotCards-slider .main-mystery-box-currency, .sub-online-slider .main-mystery-box-currency, .sub-progressive-slider .main-mystery-box-currency{
  width: 10px!important;
}
.main-slider .sub-progressive-slider .slick-slide{
  visibility: visible!important;
}
.main-slider .sub-progressive-slider .slick-track{
  height: auto!important;
}
.sub-progressive-slider{
  position: relative!important;
}
.sub-progressive-slider .slick-arrow.slick-prev{
  left: 0;
}
.sub-progressive-slider .slick-arrow.slick-next{
  right: 0;
}
@media only screen and (max-width: 1550px){
  .sub-jackpotCards-slider .main-jackpotCards-box-splash .main-jackpotCards-box-img, .sub-mystery-slider .main-mystery-box-mega .main-mystery-box-img, .sub-online-slider .main-mystery-box-mega .main-mystery-box-img, .sub-progressive-slider .main-mystery-box-mega .main-mystery-box-img {
    max-width: 270px!important;
  }
  .sub-mystery-slider .custom-count-mega, .sub-jackpotCards-slider .custom-count-splash, .sub-online-slider .custom-count-online, .sub-progressive-slider .custom-count-ra, .sub-progressive-slider .custom-count-versai, .sub-progressive-slider .custom-count-burning {
    font-size: 26px;
  }
  .sub-mystery-slider .custom-count-mega {
    top: 53px;
  }
  .sub-progressive-slider .custom-count-ra {
    top: 28px;
  }
  .sub-progressive-slider .custom-count-burning {
    top: 38px;
  }
  .sub-progressive-slider .custom-count-versai {
    top: 22px;
  }
  .sub-online-slider .custom-count-online {
    top: 25px;
  }
  .sub-mystery-slider .main-mystery-box-currency, .sub-jackpotCards-slider .main-mystery-box-currency, .sub-online-slider .main-mystery-box-currency, .sub-progressive-slider .main-mystery-box-currency {
    width: 9px!important;
  }
  .sub-mystery-slider .main-mystery-box{
    margin-top: 0;
  }
  .sub-progressive-slider .main-mystery-box {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 1250px){
  .sub-jackpotCards-slider .main-jackpotCards-box-splash .main-jackpotCards-box-img, .sub-mystery-slider .main-mystery-box-mega .main-mystery-box-img, .sub-online-slider .main-mystery-box-mega .main-mystery-box-img, .sub-progressive-slider .main-mystery-box-mega .main-mystery-box-img {
    max-width: 240px!important;
  }
  .sub-mystery-slider .custom-count-mega, .sub-jackpotCards-slider .custom-count-splash, .sub-online-slider .custom-count-online, .sub-progressive-slider .custom-count-ra, .sub-progressive-slider .custom-count-versai, .sub-progressive-slider .custom-count-burning {
    font-size: 21px;
  }
  .sub-mystery-slider .custom-count-mega {
    top: 50px;
  }
  .sub-progressive-slider .custom-count-ra {
    top: 27px;
  }
  .sub-progressive-slider .custom-count-burning {
    top: 36px;
  }
  .sub-progressive-slider .custom-count-versai {
    top: 22px;
  }
  .sub-online-slider .custom-count-online {
    top: 25px;
  }
  .sub-mystery-slider .main-mystery-box-currency, .sub-jackpotCards-slider .main-mystery-box-currency, .sub-online-slider .main-mystery-box-currency, .sub-progressive-slider .main-mystery-box-currency {
    width: 9px!important;
  }
  .sub-mystery-slider .main-mystery-box{
    margin-top: 0;
  }
  .sub-progressive-slider .main-mystery-box {
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .sub-online-slider .main-mystery-box{
    margin-top: 8px;
  }
}
/*----------------------------------------Online Casino Section---------------------------*/
.online-casino-section{
  background: url(../../images/home-page/online-casino-back.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0 80px;
  border-bottom: solid 2px #ce0000;
}
.main-title-white{
  font-weight: 900;
  color: #e9e9e9;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 15px;
}
.main-title-undeline-white{
  height: 2px;
  background-color: #e9e9e9;
  width: 70px;
  margin: 0 auto;
}
.online-casino-box-container{
  display: flex;
  max-width: 760px;
  margin: 0 auto;
  justify-content: space-between;
}
.online-casino-box{
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.online-casino-box img{
  max-height: 100px;
  margin-right: 5px;
}
.online-casino-box p{
  margin-bottom: 0;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: #e9e9e9;
  font-weight: 600;
  font-size: 25px;
}
@media only screen and (min-width: 1800px){
  .online-casino-box-container{
    max-width: 860px;
  }
}
@media only screen and (max-width: 1500px){
  .online-casino-box-container{
    max-width: 860px;
  }
  .online-casino-section{
    background: url(../../images/home-page/online-casino-back-middle.jpg) center no-repeat;
  }
}
@media only screen and (max-width: 1200px){
  .online-casino-box p{
    font-size: 23px;
  }
  .main-title-white{
    font-size: 34px;
  }
  .online-casino-box img{
    max-height: 85px;
  }
}
/*------------------------------------------SocialBox-------------------------------*/
.social-box{
  background-image: linear-gradient(to top, #840000, #cc2027);
  padding: 40px 0;
  position: relative;
}
#triangle{
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #cb1f27;
  position: absolute;
  top: -35px;
  left: calc(50vw - 35px);
}
.social-icons{
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-item{
  font-size: 26px;
  background-color: #d9d9d9;
  border-radius: 100px;
  width: 42px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease .3s all;
  -webkit-transition: ease .3s all;
  margin: 0 3px;
  transition: ease .2s;
}
.social-item:hover{
  opacity: 0.7;
}
.social-item a{
  color: #cf000d;
}
.social-text li, .social-text h4, .social-text a{
  font-size: 14px;
  line-height: 1.69;
  text-align: left;
  color: #e6e6e6;
}
.social-text h4{
  font-weight: 800;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px){
  .social-text h4, .social-text li{
    text-align: center;
  }
  .social-text ul{
    margin-bottom: 20px
  }
}
@media only screen and (max-width: 575px){
  .social-item {
    font-size: 20px;
    width: 35px;
    height: 35px;
  }
}
/*--------------------------------------------------Footer Partners--------------------------*/
footer{
  text-align: center;
  padding: 25px 0 20px;
  background-color: #222222;
}
.list-title{
  font-size: 13px;
  color: #76767b;
}
.payment-list{
  margin-bottom: 40px;
}
.payment-list img{
  max-height: 35px;
}
.payment-list li{
  margin: 0 2px 4px;
  display: inline-block;
}
.partner-list li{
  display: inline-block;
  margin: 20px 7px;
}
.partner-list li:last-of-type{
  width: 100%;
}
.partner-list img{
  max-height: 75px;
}
.copy-right p{
  color: #6d6d6d;
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 1.3;
}
@media only screen and (min-width: 1500px){
  footer .container{
    max-width: 1400px!important;
    padding-left: 50px!important;
    padding-right: 50px!important;
  }
}
/*---------------------------------------------------------Casino Page-----------------------------*/
.casino-page{
  background-color: #262626;
}
.casino-page span{
  padding: 20vh 0;
  display: block;
}
/*--------
---------
--------
--------
-------*/