body{
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
header{
	background-color: #23345c;
	box-shadow: 0px 2px 11px 1px rgba(0, 0, 0, 0.31);
	border-bottom: solid 1px #98a3b7;
}
.navbar{
	padding: 0;
}
.nav-link{
	color: #FFF;
	font-size: 18px;
	padding-top: 25px;
  padding-bottom: 25px;
  transition: .2s ease-in-out;
  border-bottom: solid 2px transparent;
}
.nav-link:hover{
	border-bottom: solid 2px #fff;
	color: #fff;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
	color: #fff;
	font-size: 26px;
}
.navbar-brand p{
	margin: 0;
}
.nav-item{
	padding: 0 4px;
}
#content{
	background-color: #1b2850;
}
.category-sidebar, .events-result{
	margin: 20px 0 52px;
	background-color: rgb(15, 30, 70);
	min-height: 80vh;
	padding-bottom: 20px;
}
.event-title{
	background-color: #f7941d;
	padding: 10px;
}
.category-title{
	background-color: #f7941d;
	padding: 15px 10px;
	margin-bottom: 0;
	color: #07143e;
}
.category-item{
	font-size: 17px;
	margin-bottom: 2px;
	padding: 12px 10px 12px 20px;
	background-color: #23345c;
	transition: .2s ease-in-out;
	color: #fff;
	cursor: pointer;
}
.category-item:hover{
	background-color: rgba(80, 91, 125, 0.22);
}
.categories{
	padding: 0;
	margin: 0;
}
.filters{
	padding: 10px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.filter-item{
	color: #f7941d;
	font-size: 19px;
	width: 25%;
}
.filter-item:last-of-type{
	width: 35%;
}
.filter-item:nth-of-type(1){
	text-align: left;
	width: 40%;
}
.filter-item a, .filter-item a:hover, .filter-item a:focus{
	color: #f7941d;
}
.bet-content{
	padding: 0;
	margin: 0;
}
.event-item{
	padding: 8px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #23345c;
  margin-bottom: 3px;
  cursor: pointer;
  transition: .2s ease-in-out;
}
.event-item:hover{
	background-color: rgba(80, 91, 125, 0.22);
}
#current-result{
	color: #f7941d;
}
.bet-info{
	display: flex;
	justify-content: space-between;
	width: 40%;
}
.home-away-coeficent{
	display: flex;
	justify-content: space-around;
	width: 25%;
}
#current-result, #match{
	display: flex;
	justify-content: center;
	align-items: center;
}
#match{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
#current-result{
	font-size: 18px;
}
.home-away-coeficent li{
	padding: 3px 6px;
	background-color: #98a3b7;
	margin: 0 2px;
	min-width: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-away-coeficent .home{
	order: 0;
}
.home-away-coeficent .even{
	order: 2;
}
.home-away-coeficent .away{
	order: 3;
}
.home-away-coeficent .even.missed{
 order: 1;
}
.event-item-disabled{
	display: none;
}
footer{
	background-color: #23345c;
	padding: 10px;
	color: #fff;
	text-align: center;
}
.all-rights{
	font-size: 14px;
	margin: 0;
}
.filter-item .dropdown-item{
	color: #fff;
	transition: .2s ease-in-out;
}
.filter-item .dropdown-menu{
	background-color: #0d1b41;
}
.filter-item .dropdown-item:hover{
	color: #000;
	background-color: #afb3c3;
}
.event-item span{
	color: #07143e;
}
.bet-info span{
	color: #fff;
	width: 100%;
}
.bookmaker{
	text-align: center;
	width: 35%;
}
.event-item .bookmaker-name{
	color: #FFF;
}
.additional-info{
	padding: 12px 20px;
}
.info-content{
	color: #fff;
	font-size: 16px;
	margin: 0;
}
@media only screen and (max-width: 1199px) {
  .home-away-coeficent, .bookmaker, .filter-item, .filter-item:last-of-type{
  	width: 30%;
  }
}
@media only screen and (max-width: 991px) {
	.filter-item{
		font-size: 17px;
	}
  .event-title{
  	font-size: 1.4rem;
  }
  .category-title{
  	padding: 10px;
  	font-size: 1.4rem;
  }
}
/*-----------------------------Slider----------------------*/
.main-slider2 .slide span{
	font-size: 12px;
	color: #000;
	font-weight: 600;
}
.main-slider2 .slide h4{
	font-size: 16px;
	color: red;
	font-weight: 600;
	margin-bottom: 0;
}
.main-slider2 .slide p{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
}
.main-slider2 .slide{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: solid 1px #000;
	padding: 0 25px;
	text-align: center;
	margin: 15px 0;
}
.red-box{
	position: absolute;
	left: 0;
	top: -1px;
	background-color: #ce0000;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	-webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 70% 0, 100% 100%, 0 100%);
	height: 101%;
	z-index: 99999;
	width: 300px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.win-slider{
	position: relative;
  border-bottom: solid 2px #ce0000;
}
.red-box p{
	margin-left: 35px;
	line-height: 1.2;
	margin-bottom: 0;
}
.main-slider2 .slick-slider{
	margin-left: 230px;
}
@keyframes pulse {
  0%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%{
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
  }
  20%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  0%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%{
    -webkit-transform: scale3d(1.18, 1.18, 1.18);
    transform: scale3d(1.18, 1.18, 1.18);
  }
  20%{
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.promo{
	-webkit-animation: pulse 2.5s ease-in-out infinite both;
  animation: pulse 2.5s ease-in-out infinite both;
}
/*-------------------------------Main Slider---------------------------------*/
.custom-home-menu nav{
  background: transparent!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border: none!important;
}
.overlay-content{
  margin-bottom: 220px;
}
.slider-border{
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  top: 78px;
  z-index: 100;
}
.wait-page{
  min-height: 90vh;
}
.slide img{
  width: 100%;
}
.slider-front-img{
  max-width: 600px;
}
.main-slider .slick-slide{
  visibility: hidden!important;
}
.main-slider .slick-slide.slick-active.slick-current{
  visibility: visible!important;
}
.main-slider .title-white-line{
  margin-left: 0;
  margin-bottom: 4vh;
}
.slider-overlay h2{
  font-size: 42px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  max-width: 500px;
  font-weight: 300;
  margin: 0 0 2vh;
}
.slider-overlay p{
  max-width: 450px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.43;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5vh;
}
.main-slider{
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  background: #000;
}
.main-slider .slide > img{
  display: inline-block!important;
}
.slider-overlay{
  position: absolute;
  width: auto;
  height: 100%;
  top: 0px;
  left: 15vw;
  color: #fff;
  display: flex;
  align-items: center;
}
.slider-register{
  display: inline-block;
  padding: 12px 28px;
  border: solid 2px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 600;
  margin-right: 8px;
  cursor: pointer;
  min-width: 174px;
  text-align: center;
  transition: ease .2s;
}
.slider-log-in{
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  border: solid 2px;
  font-size: 17px;
  min-width: 174px;
  text-align: center;
  cursor: pointer;
  transition: ease .2s;
}
.slider-log-in:hover, .slider-register:hover{
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.main-slider .slider-log-in:hover{
  background-color: #fff;
  color: rgba(49, 49, 49, 1);
}
.main-slider .slider-register:hover{
  background-color: #940f14;
  color: #fff;
  border: solid 2px #940f14;
}
.main-slider .slick-slider{
  position: static;
}
.main-slider .slick-dots{
  bottom: 30px;
}
.main-slider .slick-dots li button:before{
  color: #fff;
  font-size: 12px;
}
.slick-dots li.slick-active button:before{
  color: #fff!important;
}
.main-slider .slick-dots li{
  margin: 0;
}
.slider-jackpot-box{
  position: absolute;
  background-image: linear-gradient(to top, rgba(23,7,57,1) , rgba(23,7,57,0));
  top: 78px;
  right: 15vw;
  height: 100vh;
  width: 440px;
}
.emty-slider-front-img{
  display: none!important;
}
@media only screen and (min-width: 1800px){
  .slider-jackpot-box{
    right: 21vw;
  }
  .slider-overlay{
    left: 21vw;
  }
}
@media only screen and (max-width: 1400px){
  .slider-overlay img{
    width: 200px;
    margin: 7vh 0 2vh -5px;
  }
  .slider-overlay h2{
    font-size: 30px;
    max-width: 330px;
    margin: 0 0 2vh;
  }
  .slider-overlay p {
    max-width: 360px;
    font-size: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 15px;
    padding: 10px 25px;
  }
  .slider-jackpot-box{
    right: 12vw;
  }
  .slider-overlay{
    left: 12vw;
  }
}
@media only screen and (max-width: 1100px){
  .slider-overlay img{
    width: 160px;
    margin: 5vh 0 2vh -4px;
  }
  .slider-overlay h2{
    font-size: 26px;
    max-width: 280px;
    margin: 0 0 2vh;
  }
  .slider-overlay p {
    max-width: 330px;
    font-size: 14px;
    margin-bottom: 3vh;
  }
  .slider-register, .slider-log-in{
    min-width: 150px;
    font-size: 14px;
    padding: 10px 25px;
  }
  .slider-jackpot-box{
    right: 9vw;
  }
  .slider-overlay{
    left: 9vw;
  }
}
@media only screen and (max-width: 900px){
  .slider-overlay img{
    width: 100px;
    margin: 21px 0 10px -3px;
  }
  .slider-overlay h2{
    font-size: 17px;
    max-width: 200px;
    margin: 0 0 10px;
  }
  .slider-overlay p {
    max-width: 275px;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .slider-register, .slider-log-in{
    min-width: 120px;
    font-size: 13px;
    padding: 8px 17px;
  }
  .main-slider .title-white-line{
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px){
  .slider-overlay img{
    margin: 10vh 0 15px -2px;
  }
  .slider-overlay p {
    display: none;
  }
  .slider-overlay h2 {
    margin-bottom: 30px;
  }
  .main-slider .title-white-line{
    display: none;
  }
  .main-slider .slick-dots li button:before{
    font-size: 9px;
  }
  .main-slider .slick-dots li, .main-slider .slick-dots li button, .main-slider .slick-dots li button:before{
    width: 15px;
    height: 15px;
    padding: 0;
  }
}
@media only screen and (max-width: 550px){
  .main-slider .slick-dots{
    bottom: 15px;
  }
}
@media only screen and (max-width: 500px){
  .slider-overlay img{
    margin: 7vh 0 10px -2px;
    width: 80px;
  }
  .slider-overlay h2 {
    font-size: 14px;
    max-width: 145px;
  }
  .slider-register, .slider-log-in{
    display: none;
  }
}
/*------------------------------------------JackpotBox------------------------------------------*/
.main-mystery-box-img-title{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-mystery-box, .main-jackpotCards-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
  border-bottom: solid 2px #341b56; 
  flex-direction: column;
}
.main-mystery-box-mega .main-mystery-box-img{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-mystery-box-super .main-mystery-box-img{
  max-width: 300px!important;
  margin: 0 auto;
  width: 100%;
}
.custom-count-mega, .custom-count-super, .custom-count-online, .custom-count-ra, .custom-count-versai, .custom-count-burning{
  color: #f9f9f9;
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  top: 10px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  text-align: center;
}
.main-mystery-box-mega, .main-mystery-box-super{
  position: relative;
  width: 330px;
}
.main-jackpotCards-box-splash, .main-jackpotCards-box-heart, .main-jackpotCards-box-diamond, .main-jackpotCards-box-spade{
  position: relative;
  margin-bottom: 5px;
  width: 330px;
}
.main-jackpotCards-box-splash .main-jackpotCards-box-img{
  max-width: 330px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-heart .main-jackpotCards-box-img{
  max-width: 310px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-diamond .main-jackpotCards-box-img{
  max-width: 290px!important;
  margin: 0 auto;
  width: 100%;
}
.main-jackpotCards-box-spade .main-jackpotCards-box-img{
  max-width: 270px!important;
  margin: 0 auto;
  width: 100%;
}
.custom-count-splash, .custom-count-heart, .custom-count-diamond, .custom-count-spade{
  color: #f9f9f9;
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-count-splash{
  top: 23px;
}
.custom-count-heart{
  top: 7px;
}
.custom-count-diamond{
  top: 7px;
}
.custom-count-spade{
  top: 7px;
}
.main-mystery-box-currency{
  width: 11px!important;
  display: inline-block!important;
  margin-left: 12px;
  opacity: .6;
}
/*-------------------------------Sub Mega and Jackpotcards--------------------------*/
.sub-mystery-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 10px;
}
.sub-jackpotCards-slider .main-jackpotCards-box{
  height: auto;
  border-bottom: none;
  margin-top: 30px;
}
.sub-online-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 15px;
}
.sub-progressive-slider .main-mystery-box{
  height: auto;
  border-bottom: none;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sub-jackpotCards-slider .main-jackpotCards-box-splash .main-jackpotCards-box-img, .sub-mystery-slider .main-mystery-box-mega .main-mystery-box-img, .sub-online-slider .main-mystery-box-mega .main-mystery-box-img, .sub-progressive-slider .main-mystery-box-mega .main-mystery-box-img{
  max-width: 300px!important;
}
.sub-mystery-slider .custom-count-mega, .sub-jackpotCards-slider .custom-count-splash, .sub-online-slider .custom-count-online, .sub-progressive-slider .custom-count-ra, .sub-progressive-slider .custom-count-versai, .sub-progressive-slider .custom-count-burning{
  font-size: 28px;
  right: 35px;
}
.sub-jackpotCards-slider .custom-count-splash{
  top: 23px;
}
.sub-mystery-slider .custom-count-mega{
  top: 60px;
}
.sub-online-slider .custom-count-online{
  top: 29px;
}
.sub-progressive-slider .custom-count-ra{
  top: 33px;
}
.sub-progressive-slider .custom-count-versai{
  top: 26px;
}
.sub-progressive-slider .custom-count-burning{
  top: 42px;
}
.sub-mystery-slider .main-mystery-box-currency, .sub-jackpotCards-slider .main-mystery-box-currency, .sub-online-slider .main-mystery-box-currency, .sub-progressive-slider .main-mystery-box-currency{
  width: 10px!important;
}
.main-slider .sub-progressive-slider .slick-slide{
  visibility: visible!important;
}
.main-slider .sub-progressive-slider .slick-track{
  height: auto!important;
}